<html>
<head>
	<title>Automate the examination system</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../static/util.css">
	<link rel="stylesheet" type="text/css" href="../static/main.css">
	<link rel="stylesheet" href="../static/style.css">
</head>
<body>
	<form style="color:black" class="contact1-form validate-form" action="/generate_test" method="POST" enctype="multipart/form-data">
 <input type="file" name="file" />
 <input type="text" placeholder="Enter subject" name="subject">

 <div class="container-contact1-form-btn">
				<button class="contact1-form-newbtn">
					<span>Take Test<i class="" aria-hidden="true"></i></span>
				</button>
			</div>
		</form>

			    
	</body>
</html>