<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="jumbotron">
    <h1 class="display-4">Welcome to iQuETA!!</h1>
    <p class="lead">Iqueta is a Platform for both Teachers and Students.</p>
    <hr class="my-4">
    <p>Our ML based question generator will help Faculties to generate questions and create test by just uploading a file, and student can attempt the test.</p>
    <br>
    <p class="lead">
        <a class="btn btn-outline-dark" href="{{ url_for('tlogin') }}" role="button">I'm a Teacher</a>
        <br>
        <br>
        <a class="btn btn-outline-dark" href="{{ url_for('slogin') }}" role="button">I'm a Student</a> 
    </p>
</div>