{% extends "layout.html" %}

<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	</head>


<body>
{% block content %}

	<table class="dataframe male">  
                    <thead>  
                    	<th>Select</th>
                        <th>ID</th>  
                        <th>Test ID</th>
                        <th>Question</th>  
                        <th>Answer</th> 
                        <th>Option1</th>
                        
                        <th>Option2</th>
                        <th>Option3</th>
                        <th>Option4</th>    
                    </thead>




                      
                    {% for r in rows %} 
                    
                      
                        <tr>  
                        	<td><input type=checkbox class="get_value" name={{r.id}} value={{r.id}}><br/></td>
                            <td>{{r.id}}</td>  
                            <td>{{r.test_id}}</td>
                            <td>{{r.question_text}}</td>
                            
                            <td>{{r.ans}}</td>
                            <td>{{r.op1}}</td>
                            <td>{{r.op2}}</td>
                            <td>{{r.op3}}</td>
                            <td>{{r.op4}}</td>
                            
	

                            {% endfor%}


</tr>

                            <a href="/add_question/{{tid}}" class="btn btn-success btn-xs float-right" data-toggle="modal" data-target="#questionedit{{tid}}">Add Question</a><br>

                            <div id="questionedit{{tid}}" class="modal fade" role="dialog" tabindex="-1">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
 
            <h4 class="modal-title">Add question</h4>
         </div>
         <div class="modal-body form-horizontal">
 
            <form class="contact1-form validate-form form-horizontal" action="{{url_for('add_question')}}" method="POST" enctype="multipart/form-data" method="POST">


            	<!-- <div class="form-group">
                       
                       
                                        <label>Test ID</label>
                       
                                        <input type="text" class="form-control" name="test_id" value="{{tid}}" disabled>
                       
                       
                                     </div> -->


            	<div class="form-group">
                       
                       
                                        <label>Question</label>
                                        <div class="col-xs-10">
                                        <input type="hidden"  name="test_id" value="{{tid}}">
                       
                                        <input type="text" class="form-control" name="question_text">
                       
                       </div>
                                     </div>
 
 
               <div class="form-group">
 
                   <label>Answer</label>
                                        <input type="text" class="form-control" name="ans">
                       
                                     </div>

 
 
              
 
 
                <div class="form-group">
 
 
                  <label>Option1</label>
                                        <input type="text" class="form-control" name="op1">
                       
                                     </div>
 
 
               


               <div class="form-group">
 
 
                  <label>Option2</label>
                                        <input type="text" class="form-control" name="op2">
                       
                                     </div>
 
 
               

               <div class="form-group">
 
 
                  <label>Option3</label>
                                        <input type="text" class="form-control" name="op3">
                       
                                     </div>
 
 
               

               <div class="form-group">
 
 
                  <label>Option4</label>
                                        <input type="text" class="form-control" name="op4">
                       
                                     </div>
 
 
               
 
 
 
 
 
               <div class="form-group">
 
 
                  <button class="btn btn-primary" type="submit">Add</button>
 
 
               </div>
           </form>
 
 
          
 
 
         </div>
 
 
         <div class="modal-footer">
 
 
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
 
 
         </div>
 
 
      </div>
 
 
   </div>
 
 
</div>
                            </table>
<p id="result"></p>
<script>
        $(document).ready(function() {
            $('#upquestions').click(function() {
                var insert = [];
                $('.get_value').each(function() {
                    if ($(this).is(":checked")) {
                        insert.push($(this).val());
                    }
                });
                insert = insert.toString();			
				var insert_string = 'checkboxvalue='+insert;			
				$.ajax({
					method: "POST",
					url: "/up_question/{{tid}}/",
					data: insert_string,
					cache: false,
					success: function(data){    
						$("body").html(data);
					}
				});
            });
        });
    </script>
 
 
 
 
               
    <button type="button" class="btn btn-info float-right" name="upquestions" id="upquestions">Update</button>

<!-- <a href="/up_question/{{tid}}" class="btn btn-info btn-xs float-right">Update Questions</a><br>
 -->                            {% endblock content %}
	</body>
	
	
	
</html>